* {
    box-sizing:border-box;
}

/* page colors*/
:root{
    --mdcolor: grey;
    --dark: black;
    --light:rgb(121, 121, 188); 
}

body {
    margin: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:(var--dark);
    background:(var--mdcolor);
    line-height:1.5;
    display:flex;
}

.header {
    border: 1px solid black;
    flex-wrap:flex;
}

.hero {
    display: flex;
}

img {
    flex-direction: row;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    display: block;
    margin: center;
    transform:rotate(65deg);
}

.nav {
    display:flex;
    flex-wrap: wrap;
    align-items: 1;
    margin-right:auto;
}

.bio {
    justify-content: 1;
    flex-wrap: 1;
}

.biopic{
    margin: 0;
    padding: 1;
}

.contact li {
    align-items: center;
}

@media screen and (max-width:920px) {
    nav body{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width:758px) {
    nav body{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width:560px) {
    nav body{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }