* {
    box-sizing:border-box;
    cursor:grab;
}

/* page colors*/
:root {
    --mdcolor: grey;
    --dark: black;
    --light:rgb(121, 121, 188); 
    --antique:antiquewhite;
}

.header {
    padding: 20px;
    margin: 0px;
    font-family:var(--dark);
    line-height: .5;
    background-color:var(--antique);
}

.header h1 {
    display:block;
    font-size: 50px;
    flex:row;
}
.header section ul li {
    font-style: bold;
    font-size: 25px;
    list-style: none;
    line-height:2;
    display:flex;
}

.hero {
    background-image:url("https://raw.githubusercontent.com/Eleniac/Web-Dev-Portfolio/main/Assets/Images/sumner-mahaffey-7Y0NshQLohk-unsplash.jpg")100%;
    background-size:cover;
    background-position:center ;
    justify-content: flex-end;
}
body {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--dark);
    background:var(--mdcolor);
    line-height:2;
    justify-content: space-between;
}

nav {
    text-align: right;
    flex-wrap:wrap;
    justify-content: space-between;
    background-color: var(--antique);
    line-height: 1.5;
    font-size: 20px;
    margin: 1;
    padding: 1;
}

h1 {
    text-align: center;
}

h2 {
    text-align:left;
    flex-direction: column;
}
h3 {
    text-align: center;
    flex-direction: column;
}

ul li {
    list-style: none;
    flex-direction: row;
    position: left;
}

.bio {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}

#bio-text {
  float:right
}

.work {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}

h3 {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}
/*profile photo style*/
img {
    flex-direction: row;
    border: .5px solid var(--mdcolor);
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    height: 250px;
    margin: 0;
    flex-wrap: wrap;
    box-shadow: var(--dark) 5cm;
    border-radius: 25px;
}
.large-work {
    width:200%;
    height: 600%;
    justify-content: flex-start;
}

.column {
    flex-direction: row;
    width:20%;
    padding: 2px; 
    text-align:row;
}

.contact ul li {
    flex-wrap:wrap;
    justify-content: space-between;
    list-style: none;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width:920px) {
    nav body img {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        flex:wrap;
}

@media screen and (max-width:758px) {
    nav body img {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        flex:wrap;
        flex:auto;
    }


@media screen and (max-width:560px) {
    nav body {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        flex:wrap;
}