* {
    box-sizing:border-box;
    cursor:grab;
}

/* page colors */
:root {
    --mdcolor: grey;
    --dark: black;
    --antique:antiquewhite;
    --green:rgb(5, 41,5);
}

/* header text-Len's Profile */
.header h1 {
    font-size: 50px;
    color:var(--antique);
    text-align:left;
    flex-wrap:wrap;
    justify-content: space-between;
    background-color:var(--green);
    line-height: 1.5;
    font-size: 40px;
    color:var(--antique);
    margin: 0;
    padding: 0;
}

/* waves hero image */
.hero-banner {
    background-image:url("../Assets/Images/tim-toomey-S1R_H_ybMYg-unsplash.jpg");
    height: 600px;
    background-size:cover;
    background-position:center;
    justify-content: flex-end;
    padding:30px,50px;
    margin: 0;
    align-items: flex-end;
    display:flex;
}

/* box in hero banner */
.hero-banner h2 {
    color:var(--antique);
    width:300px;
    height:100px;
    background-color: black;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

/* text in subtitle */
h2 {
    text-align:left;
    flex-direction: row;
    width: 300px;
    border: 1px,var(--dark);
    padding: 50px;
    margin: 20px;
    border-radius: 25px;
}

/* links at the top of the page */
nav {
    text-align: right;
    flex-wrap:wrap;
    justify-content: space-between;
    background-color:var(--green);
    line-height: 1.5;
    font-size: 40px;
    color:var(--antique);
    margin: 0;
    padding: 0;
}

/*link colors */
a {
    color:var(--antique);
}

/* page standards */
body {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background:rgb(200, 198, 198);
    line-height:2;
}

ul li {
    list-style: none;
    flex-direction: row;
    position: left;
}

.about  {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    color:var(--dark);
}

/*profile photo style*/
#pic {
    flex-direction: row;
    border-radius: 25px;
    padding: 10px;
    width: 250px;
    height: 350px;
    margin: 0;
    flex-wrap: wrap;
    box-shadow: var(--dark) 5cm;
}

.work {
    display:flex;
    flex-direction: row;
}

.large-work {
    background-image:url("../Assets/Images/daniel-pascoa-pCvCDub8ieI-unsplash.jpg");
    background-size:cover;
    background-position:center;
    flex-direction: row;
    padding: 10px;
    width: 700px;
    height: 500px;
    margin: 0;
    flex-wrap: wrap;
    border-radius: 25px;
    align-items: center;
    justify-content:center;
}

.large-work h3 {
    color:var(--antique);
    text-align:center;
    align-items:center;
}

#large-des {
    color:var(--antique);
    align-items:center;
    text-align: center;
}

.small-box1 {
    background-image:url("../Assets/Images/nordwood-themes-nDd3dIkkOLo-unsplash.jpg");
    height: 300px;
    width:200px;
    background-size:cover;
    background-position:center;
    flex-direction: row;
    padding: 10px;
    margin: 0;
    flex-wrap: wrap;
    border-radius: 25px;
}

.small-box1 h3 {
    color:var(--mdcolor);
    text-align:center;
    align-items:center;
}

#java {
    color:var(--mdcolor);
    align-items:center;
    text-align: center;
}

.small-box2 {
    background-image:url("../Assets/Images/IMG_9136.jpeg");
    height: 10000px;
    width:1800px;
    background-size:cover;
    background-position:center;
    flex-direction: row;
    padding: 10px;
    margin: 0;
    flex-wrap: wrap;
    border-radius: 25px;
}

.small-box2 h3 {
    color:var(--mdcolor);
    text-align:center;
    align-items:center;
}

#react {
    color:var(--mdcolor);
    align-items:center;
    text-align: center;
}

.small-box3 {
    background-image:url("../Assets/Images/hassan-pasha-7SjEuEF06Zw-unsplash.jpg");
    height: 400px;
    width:400px;
    background-size:cover;
    background-position:center;
    flex-direction: row;
    padding: 10px;
    margin: 0;
    flex-wrap: wrap;
    border-radius: 25px;
}

.small-box3 h3 {
    color:var(--mdcolor);
    text-align:center;
    align-items:center;
}

#Mern {
    color:var(--mdcolor);
    align-items:center;
    text-align: center;
}

.small-box4 {
    background-image:url("../Assets/Images/mel-poole-eo5Hrzyb4D0-unsplash.jpg");
    height: 400px;
    width:400px;
    background-size:cover;
    background-position:inherit;
    flex-direction: row;
    padding: 10px;
    margin: 0;
    flex-wrap: wrap;
    border-radius: 25px;
}

.small-box4 h3 {
    color:var(--mdcolor);
    text-align:center;
    align-items:center;
}

#node {
    color:var(--mdcolor);
    align-items:center;
    text-align: center;
}




.contact {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}

@media screen and (max-width:920px) {
}
@media screen and (max-width:758px) {
}
@media screen and (max-width:560px) {
}
